## **Mohammad Heidar Sadhana (2109106046)**
## **POSTTEST4**

Import pandas & numpy

In [171]:
import pandas as pd
import numpy as np

buat dataframe dari dataset

In [202]:
df = pd.read_csv("TravelInsurancePrediction.csv")

### **1. Bagi dataset menjadi training set dan testing set dengan proporsi 70:30**

import train_test_split dari scikit learn untuk data splitting

In [173]:
from sklearn.model_selection import train_test_split

Memilih kolom Employment Type sebagai target dan TravelInsurance sebagai feature

In [174]:
x = df[['Employment Type']] #target
y = df[['TravelInsurance']] #feature

Membagi data menjadi x_train, x_test, y_train, y_test dengan memanggil fungsi train_test_split dengan menggunakan variabel x dan y yang telah dibuat, dan juga mengacak urutan data dengan shuffle, serta membagi ukuran test menjadi 0.3 dari data sehingga proporsi pembagian menjadi 70 : 30

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, shuffle = True, test_size = 0.3)

cek dimensi untuk setiap data yang sudah dibagi

In [175]:
print("Dimensi x_train : ", x_train.shape)
print("Dimensi x_test : ", x_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test : ", y_test.shape)

Dimensi x_train :  (1409, 1)
Dimensi x_test :  (605, 1)
Dimensi y_train :  (1409, 1)
Dimensi y_test :  (605, 1)

### **2. Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)**

Buat copy dataset dengan nama df1

In [176]:
df1 = pd.read_csv("TravelInsurancePrediction.csv")

import minmaxscaler dari scikit learn kemudian buat object dengan nama minmax sebagai minmaxscaler

In [177]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()

kemudian lakukan normalisasi dengan mengganti nilai AnnualIncome dengan menggunakan minmax.fit_transform

In [ ]:
df1['AnnualIncome'] = minmax.fit_transform(df1[['AnnualIncome']])

Cek apakah data sudah berhasil di normalisasi dengan melihat min dan max pada data jika min = 0 dan max = 1 maka data telah di normaliasi

In [178]:
df1[['AnnualIncome']].describe()

       AnnualIncome
count   2014.000000
mean       0.417974
std        0.251744
min        0.000000
25%        0.200000
50%        0.400000
75%        0.633333
max        1.000000

###**3. Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)**

Buat copy dataset dengan nama df2

In [179]:
df2 = pd.read_csv("TravelInsurancePrediction.csv")

import standardscaler dari scikit learn kemudian buat object dengan nama standar sebagai standardscaler

In [180]:
from sklearn.preprocessing import StandardScaler
standar = StandardScaler()

kemudian lakukan standarisasi dengan mengganti nilai AnnualIncome dengan menggunakan standar.fit_transform

In [ ]:
df2['AnnualIncome'] = standar.fit_transform(df2[['AnnualIncome']])

Cek apakah data berhasil di standarisasi dengan melihat standar deviasi, jika standar deviasi = 1 maka data telah di standarisasi

In [199]:
print("Nilai standar deviasi: ", np.std(df2['AnnualIncome']))

Nilai standar deviasi:  1.0

### **4. Lakukan Data cleaning pada data dengan nilai null.**

#### Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus).

Cek tipe data pada dataset dengan df.info

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2014 entries, 0 to 2013
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  2014 non-null   int64
 1   Employment Type      2014 non-null   object
 2   GraduateOrNot        2014 non-null   object
 3   AnnualIncome         2014 non-null   int64
 4   FamilyMembers        1886 non-null   float64
 5   ChronicDiseases      2014 non-null   int64
 6   FrequentFlyer        2014 non-null   object
 7   EverTravelledAbroad  1946 non-null   object
 8   TravelInsurance      2014 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 141.7+ KB

Cek kolom yang memiliki nilai null

In [183]:
df.isna().sum()

Age                      0
Employment Type          0
GraduateOrNot            0
AnnualIncome             0
FamilyMembers          128
ChronicDiseases          0
FrequentFlyer            0
EverTravelledAbroad     68
TravelInsurance          0
dtype: int64

#### **A. Mengganti nilai null pada kolom EverTravelledAbroad (tulisan) menggunakan simpleimputer**

import SimpleImputer dari scikit learn kemudian buat object dengan nama imputer sebagai SimpleImputer dengan strategy most_frequent atau modus

In [184]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')

Age                      0
Employment Type          0
GraduateOrNot            0
AnnualIncome             0
FamilyMembers          128
ChronicDiseases          0
FrequentFlyer            0
EverTravelledAbroad      0
TravelInsurance          0
dtype: int64

kemudian lakukan cleaning dengan mengganti nilai EverTravelledAbroad yang kosong dengan menggunakan imputer.fit_transform dengan strategy yang telah dibuat

In [ ]:
df['EverTravelledAbroad'] = imputer.fit_transform(df[['EverTravelledAbroad']])

Cek kembali data null pada dataframe

In [ ]:
df.isna().sum()

#### **B. Mengganti nilai null pada kolom FamilyMembers (desimal) menggunakan pandas fillna**

memilih kolom FamilyMembers pada dataframe kemudian menggunakan fungsi fillna dengan mengisi parameter median dari kolom familymembers dan inplace True

In [185]:
df['FamilyMembers'].fillna(df['FamilyMembers'].median(), inplace = True)

Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

Cek kembali data null pada dataframe

In [ ]:
df.isna().sum()

### **5. Lakukan Data cleaning pada data dengan nilai duplikat.**

cek jumlah data yang terduplikat

In [186]:
df.duplicated().sum()

779

drop record yang terduplikat dengan inplace True

In [187]:
df.drop_duplicates(inplace = True)

cek kembali jumlah data duplikat untuk memastikan tidak ada data duplikat

In [188]:
df.duplicated().sum()

0

### **6. Ganti tipe data salah satu attribute angka (Menggunakan Ordinal Encoding)**

cek berapa jumlah label pada kolom frequent flyer dan juga tipe datanya

In [210]:
print(df['FrequentFlyer'].info())
print(df['FrequentFlyer'].value_counts())

<class 'pandas.core.series.Series'>
RangeIndex: 2014 entries, 0 to 2013
Series name: FrequentFlyer
Non-Null Count  Dtype
--------------  -----
2014 non-null   object
dtypes: object(1)
memory usage: 15.9+ KB
None
No     1597
Yes     417
Name: FrequentFlyer, dtype: int64

import ordinalencoder dari scikit learn kemudian buat object dengan nama ordinal sebagai ordinalencoder dengan menambahkan parameter dtype dan mengisinya dengan int untuk mengubah data nya menjadi integer

In [212]:
from sklearn.preprocessing import OrdinalEncoder
ordinal = OrdinalEncoder(dtype = int)

kemudian lakukan encoding dengan mengganti nilai FrequentFlyer dengan menggunakan ordinal.fit_transform

In [213]:
df['FrequentFlyer'] = ordinal.fit_transform(df[['FrequentFlyer']])

cek kembali jumlah label dan tipe datanya

In [214]:
print(df['FrequentFlyer'].info())
print(df['FrequentFlyer'].value_counts())

<class 'pandas.core.series.Series'>
RangeIndex: 2014 entries, 0 to 2013
Series name: FrequentFlyer
Non-Null Count  Dtype
--------------  -----
2014 non-null   int64
dtypes: int64(1)
memory usage: 15.9 KB
None
0    1597
1     417
Name: FrequentFlyer, dtype: int64

### **7. Lakukan one hot encoding pada dataset yang kalian miliki**

menggunakan fungsi get_dummies yang ada pada library pandas saya membuat sebuah dataframe dengan nama onehot

In [192]:
onehot = pd.get_dummies(df[['EverTravelledAbroad']])

kemudian menggunakkan join untuk menggabungkan dataframe yang sudah dibuat dengan menggunakan get_dummies dengan dataframe asli

In [193]:
df = df.join(onehot)
df.head()

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,31,Government Sector,Yes,400000,4.0,1,0,No,0,1,0
1,31,Private Sector/Self Employed,Yes,1250000,7.0,0,0,No,0,1,0
2,34,Private Sector/Self Employed,Yes,500000,4.0,1,0,No,1,1,0
3,28,Private Sector/Self Employed,Yes,700000,3.0,1,0,No,0,1,0
4,28,Private Sector/Self Employed,Yes,700000,8.0,1,1,No,0,1,0